
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;

    background: #060404;
    border-bottom: 2px solid rgb(26, 94, 177);

    padding: 18px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff0000;
}

nav a {
    color: rgb(254, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ff0000;
}

.inicio {
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background:
        linear-gradient(rgba(0, 0, 0, 0.533), rgba(0, 0, 0, 0.533)),
        url("/imagens/plano\ de\ fundo.png") center/cover;
}
.inicio-texto{
    color: white;
}
#nome{
    color: red;
}
.inicio h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 22px;
    max-width: 650px;
    margin-bottom: 30px;
}

.botao {
    display: inline-block;

    background: #4b0047;
    color: rgb(252, 252, 252);

    padding: 15px 25px;

    text-decoration: none;
    font-weight: bold;

}

.botao:hover {
    background: #9b0093;
    color: white;    transition:  0.3s ease;
}

.secao {
    max-width: 1200px;
    margin: auto;
    padding: 70px 25px;
}

.secao h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.historia {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 35px;
    align-items: center;
    color: #000;
}
#preto{
    color: #000;
}

.historia img {
    width: 100%;
    border: 2px solid rgb(38, 92, 158);
}

.historia p {
    line-height: 1.8;
    margin-bottom: 15px;
}
.personagens { 
    background: #080808;
    max-width: none;
    padding-left: 7%;
    padding-right: 7%;
    color: white;
}

.descricao {
    margin-bottom: 30px;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #1c1c1c;
    border: 1px solid #555;
    padding: 20px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-7px);
    border-color: rgb(151, 31, 31);
}

.card img {
    width: 100%;
    height: 220px;

    object-fit: contain;

    background: #000;
}

.card h3 {
    font-size: 23px;
    margin: 15px 0 10px;
}

.card p {
    line-height: 1.6;
}

.locais {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
}
.sublo{
    color: rgb(0, 0, 0);
}
.local {
    background: #0f0707;
    border-left: 5px solid rgb(150, 41, 41);
    padding: 25px;
}

.local h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.local p {
    line-height: 1.6;
}

.trailer {
    text-align: center;
}

.trailer p {
    margin-bottom: 25px;
}

.video {
    position: relative;

    width: 100%;
    max-width: 900px;

    margin: auto;

    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    border: 2px solid white;
}
#imagen-fundo{
    height: auto;
    width: 400px;
}
footer {
    text-align: center;

    background: #000;
    border-top: 2px solid white;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin: 8px;
    color: #ffffff;
}
